
.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    font-size: 20px;
    padding: 20px 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
#b1 {
    display:block;
    width: 70%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}