
.labels, .images, td {
    text-align: left;
    font-size: 20px;
    margin: 50px;
}
table .labels , textarea {
    border-radius: 5px;
    margin: 20px;
    width: 70px;
}
textarea {
width: 170px;
margin-left: 0px;
margin: 0px;
}
table {
    border: solid grey 3px;
    padding: 20px;
    width: 500px;
    margin: 20px;
}
img {
    width: 30%;
    margin: 20px;
    height: auto;
}
fieldset {
    width: 500px;
    margin: 50px;
}
legend {
    font-size: 50px;
    font weight: 700;
    color: grey;
}
.btn {
    display:inline;
    width: 29%;
    padding: 10px 15px;
    border: 10px;
    background: grey;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
}

a {
    margin: 50px;
}